:root {
  --background: #fceaff;
  --botoes-textos: #5b25b3;
  --bordas: #8871a2;
  --cor-destaque: #63baaa;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

body {
  background-image: url("../img/img-de-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main div {
  background-color: white;
  border: 2px solid var(--bordas);
  border-radius: 20px;
  height: 400px;
  width: 400px;
  padding: 0px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (max-width: 492px) {
  main div {
    width: 90vw;
  }
}

main div h1 {
  text-align: center;
  margin: 15px;
  font-size: 1.5em;
  color: var(--botoes-textos);
}

main div p {
  text-align: center;
  margin: 15px;
  color: var(--bordas);
}

main div form {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
}
main div form i {
  margin: 0px 7px 0px 0px;
}
main div form label {
  padding: 9px 0px;
  color: var(--botoes-textos);
  font-weight: bold;
}

main div form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}
main div form input:focus {
  box-shadow: 0 0 0 3px var(--bordas);
}

main div form button {
  padding: 9px;
  margin: 35px 0px 0px 0px;
  border-radius: 10px;
  background-color: var(--botoes-textos);
  color: var(--background);
  font-weight: bold;
  transition: 0.1s;
}
main div form button:hover {
  background-color: var(--bordas);
}

main div a#link-esqueceu {
  display: flex;
  justify-content: center;
  margin: 15px;
  text-decoration: none;
}
main div a#link-esqueceu:hover {
  text-decoration: underline;
}

main div #link-criar-conta {
  text-decoration: none;
}
main div #link-criar-conta:hover {
  text-decoration: underline;
}
